// Here you can add other styles

.card-header:not(.content-center) > .c-icon:first-child {
    margin-right: 0.1rem;
    margin-top: 0.1rem;
    vertical-align: top;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 1.2rem;
  }
  
  label {
    &.p-invalid{
      color:#dc3545;
    }
  }
  
  .p-inputtext{
    padding: 02px 5px!important;
  }

  .p-input-icon-left{
    .p-inputtext{
        padding-left: 2.5rem !important;
    }
  }
  
  
  .p-dialog{
    .p-dropdown-panel{
      z-index: 3000!important;
      position: fixed!important;
    }
  }
  
.p-datatable-thead > tr > th {
    padding: 5px 3px!important;
}
.p-datatable-tbody > tr > td {
    padding: 1.5px 3.5px!important;
}

.p-button{
  &.p-button-sm {
    padding: 0.2rem 0.65625rem;
  }
}