<p-panel [toggleable]="true" [collapsed]="true" expandIcon="pi pi-search" collapseIcon="pi pi-angle-up">
  <ng-template pTemplate="header">
    Grupos empresariales
  </ng-template>
  <ng-template pTemplate="icons">
    <button pButton class="p-panel-header-icon p-link">
        <span class="pi pi-plus"></span>
    </button>
  </ng-template>
</p-panel>

<p-table [value]="clients.data" dataKey="name"  styleClass="p-datatable-sm" [tableStyle]="{'min-width': '30rem'}">
  <ng-template pTemplate="header">
      <tr>
          <th style="width: 3rem"></th>
          <th pSortableColumn="nomenclature">Nomenclatura <p-sortIcon field="nomenclature"></p-sortIcon></th>
          <th pSortableColumn="name">Grupo empresarial <p-sortIcon field="name"></p-sortIcon></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-client let-expanded="expanded">
      <tr>
          <td>
              <button type="button" pButton pRipple [pRowToggler]="client" class="p-button-sm p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>{{client.nomenclature}}</td>
          <td>{{client.name }}</td>
      </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-client>
      <tr>
          <td colspan="3">
              <div class="p-3">
                  <p-table [value]="client.companies" styleClass="p-datatable-striped" dataKey="id">
                      <ng-template pTemplate="header">
                        <tr>
                            <th colspan="3">Empresas</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-company>
                          <tr>
                              <td>{{company.nomenclature}}</td>
                              <td>{{company.name}}</td>
                              <td><button pButton type="button" class="p-button-sm p-button-outlined p-button-raised float-end">Seleccionar</button></td>
                          </tr>
                      </ng-template>
                  </p-table>
              </div>
          </td>
      </tr>
  </ng-template>
</p-table>

